<main class="main">
  <div class="content">
    <section>
      <h2>Signal(set & update), computed, effect, untracked, equal check</h2>
      <div>
        <span>Set Title: </span><input type="text" [value]="title()" (input)="setTitle($any($event.target).value)" />
      </div>
      <div>
        <span>Set Description: </span><input type="text" [value]="description()"
                                             (input)="setDescription($any($event.target).value)" />
      </div>
      <div>
        <button (click)="updateTitle()">Update Title</button>
      </div>

      <br />

      <div><span>Title Signal: </span>{{title()}}</div>
      <div><span>Subtitle Computed: </span>{{subtitle()}}</div>
      <div><span>Description Signal: </span>{{description()}}</div>
      <div><span>Title text: </span>{{titleText()}}</div>
      <div><span>Title text - Untracked Description: </span>{{untrackedDescription()}}</div>
      <br>
      <div><span>Equality check: </span></div>
      <div>
        <button (click)="setTitle(title())">Set same title</button> &nbsp;
        <button (click)="setTitle(title() + ' updated')">Set different title</button>
      </div>
    </section>

    <section>
      <h2>Linked Signals</h2>
      <div><span>Selected Page: </span>{{selectedPage()}}</div>
      <div>
        <button (click)="selectedPage.set(pageItems()[2])">Set {{pageItems()[2]}}</button> &nbsp;
        <button (click)="selectedPage.set(pageItems()[3])">Set {{pageItems()[3]}}</button> &nbsp;
        <button (click)="selectedPage.set(pageItems()[4])">Set {{pageItems()[4]}}</button> &nbsp;
      </div>
      <div>
        <span>Select Page: </span>
        <select [value]="selectedPage()" (change)="selectedPage.set($any($event.target).value)">
          <option *ngFor="let page of pageItems()" [value]="page">{{page}}</option>
        </select>
      </div>
      <div>
        <button (click)="pageItems.set(['Careers', 'Support', 'FAQ', 'Testimonials', 'Services'])">Reset page items</button>
        <div> Services are present in both lists</div>
      </div>
    </section>

    <section>
      <h2>Resource (using fake endpoint)</h2>
      <h3>Use value signal on resource to access value</h3>
      <div>
        <span>Selected User ID: </span>{{userId()}} &nbsp;
        <button (click)="userId.set(userId() + 1)">Next User</button> &nbsp;
        <button (click)="userId.set(userId() - 1)">Previous User</button>
      </div>

      <div>Status: <strong>{{userResource.status()}}</strong></div>

      <div *ngIf="userResource.isLoading()">Loading user data...</div>

      <div *ngIf="userResource.error() as err">
        <strong>Error:</strong> {{err.message || 'Failed to load user'}}
      </div>

      <ng-container *ngIf="userResource.hasValue()">
        <div *ngIf="userResource.value() as user">
          <div><strong>Name:</strong> {{user.name}}</div>
        </div>
      </ng-container>

    </section>

    <section>
      <h2>Debounced Resource</h2>
      <div>
        <button (click)="numberToDDebounce.set(numberToDDebounce() + 1)">Increment</button>
        <p>Immediate value: {{numberToDDebounce()}}</p>
        <p>Debounced value: {{debouncedNumber.value()}}</p>
      </div>
    </section>
  </div>
</main>
